.navbar {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar-brand-logo{
    flex: 0 0 60px;
}

.navbar-brand-name{
    display: none;
    flex: 0 0 auto;
    margin-right: auto;
}

.navbar-search{
    flex: 0 0 300px;
}