h1{
    margin: 0px;
    padding: 0px;
    font-size: 26px;
    overflow: hidden;
    white-space: nowrap;
}

.navbar {
    margin: auto;
    max-width: var(--page-size-max);
    padding: 4px var(--page-margin);
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.navbar-brand-logo{
    flex: 0 0 60px;
}

.navbar-brand-name{
    flex: 0 0 auto;
    margin-right: auto;
}

.navbar-search{
    flex: 0 0 300px;
}

@media only screen and (min-width: 600px) {
    .navbar{
        padding: 4px var(--page-margin-large);
    }
}