:root{
    --primary-font: 'Roboto', sans-serif;
    --navbar-color: black;
    --font-color: white;
    --background-color: #0B3D91;
    --nasa-orange: #FC3D21;
    --page-margin: 8px;
    --page-margin-large: 40px;

    --page-size-max: 1200px;
    --page-size-large-: 600px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: var(--primary-font);
    color: var(--font-color);
    background-color: var(--background-color);
}

.navbar-container {
    background-color: var(--navbar-color);
}

.main-content-container{
    margin: auto;
    width: 100%;
    max-width: var(--page-size-max);
    padding: 4px var(--page-margin);
    box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
    .main-content-container{
        padding: 4px var(--page-margin-large);
    }
}

