:root{
    --primary-font: 'Roboto', sans-serif;
    --background-color: black;
    --font-color: white;
    --nasa-blue: #0B3D91;
    --nasa-orange: #FC3D21;
}

body {
    font-family: var(--primary-font);
    margin: 0px;
    padding: 0px;
    background-color: var(--nasa-blue);
    color: var(--font-color);
}

h1{
    margin: 0px;
    padding: 0px;
    font-size: 26px;
    overflow: hidden;
    white-space: nowrap;
}

.app {
    width: 100%;
    margin: auto;
    background-color: var(--background-color);
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .app{
        width: 1150px;
    }
}